page-ssh-keys {
  .title {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.4rem;
  }

  .description {
    &-left {
      font-size: 1.4rem;
      color: #868686;
      margin-top: .2rem;
      float:left;
    }
    &-right {
      font-size: 1.4rem;
      color: #868686;
      margin-top: .2rem;
      float: right;
    }
  }

  .text {
    background: white;
    padding: 2rem 1.5rem;
  }

  code {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #ededed;
    font-size: 1.2rem;
  }

  .no-ssh-keys {
    color: color($colors, darkgrey);
    text-transform: uppercase;
    font-weight: 600;
    img {
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
      width: 50px;
      display: block;
      margin: 0 auto;
      margin-bottom: 2rem;
    }
  }
}
