.title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9rem;
}

.description {
  &-left {
    color: #868686;
    margin-top: 0.2rem;
    float: left;
  }

  &-right {
    color: #868686;
    margin-top: 0.2rem;
    float: right;
  }
}

.text {
  background: white;
  padding: 1rem 1.2rem 1rem 1.2rem;
}

code {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #ededed;
  font-size: 0.7rem;
  padding: 0.25rem 0;
}

.no-ssh-keys {
  color: grey;
  text-align: center;
  width: 100%;
  ion-icon {
    font-size: 2.5rem;
  }
  p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9rem;
  }
}

p {
  font-size: 0.9rem;
}
