<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/account"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">SSH Keys</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher
    (ionRefresh)="doRefresh($event)"
    *ngIf="!isLoading"
    slot="fixed"
  >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <app-loader *ngIf="isLoading"></app-loader>

  <div *ngIf="!isLoading">
    <div class="text">
      <p style="margin-top: 0">
        SSH Keys are a secure way to log into your servers through SSH.
      </p>
      <p>To generate your key, run:</p>
      <p style="margin-bottom: 0">
        <code
          (click)="copyToClipBoard('ssh-keygen -t rsa -b 4096 -C  user@email.com')"
          >ssh-keygen -t rsa -b 4096 -C "user@email.com"</code
        >
      </p>
    </div>

    <ion-list>
      <ion-list-header class="title" color="secondary"
        >SSH Keys</ion-list-header
      >
      <ion-item-sliding *ngFor="let sshKey of sshKeys" #item>
        <ion-item>
          <ion-label>
            <div class="information-title-content">
              {{ sshKey.fingerprint }}
            </div>
            <div class="description-left">{{ sshKey.name }}</div>
            <div class="description-right">{{ split(sshKey) }}</div>
          </ion-label>
        </ion-item>
        <ion-item-options>
          <ion-item-option
            expandable="true"
            color="danger"
            (click)="deleteSshKey(sshKey.id, item)"
          >
            DELETE
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="secondary" (click)="addSshKey($event)" mode="ios">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>

  <div class="no-ssh-keys" *ngIf="!isLoading && sshKeys.length === 0">
    <ion-icon name="ios-key"></ion-icon>
    <p>No SSH Key registered on your project</p>
  </div>
</ion-content>
