<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button
        class="ion-float-end"
        color="light"
        fill="clear"
        (click)="navigate('home')"
      >
        <ion-icon name="md-close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button
        class="ion-float-end"
        color="light"
        fill="clear"
        (click)="logout()"
      >
        <ion-icon name="ios-log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content force-overscroll="false">
  <div class="background"></div>
  <div class="profile">
    <ion-img src="assets/img/profile.svg"></ion-img>
  </div>

  <app-loader *ngIf="isLoading"></app-loader>

  <div *ngIf="!isLoading">
    <div class="name">
      <div class="two-auth-enabled" *ngIf="user.mfa_enabled">
        <ion-chip>
          <ion-label color="light">
            <fa-icon [icon]="faShieldAlt"></fa-icon>
            2FA
          </ion-label>
        </ion-chip>
      </div>
      <div class="two-auth-disabled" *ngIf="!user.mfa_enabled">
        <ion-chip>
          <ion-label color="light">
            <fa-icon [icon]="danger"></fa-icon>
            2FA
          </ion-label>
        </ion-chip>
      </div>
      <div class="fullname">{{ user.first_name + ' ' + user.last_name }}</div>
      <div class="email">{{ user.email }}</div>
      <div class="current-organization">
        <div class="current-organization-text">
          <ion-chip color="tertiary">
            <ion-label color="tertiary">
              {{ currentOrganization.name }}
            </ion-label>
          </ion-chip>
          <fa-icon
            slot="start"
            [icon]="['fas', 'chevron-right']"
            class="icon-separator"
          ></fa-icon>
          <ion-chip color="secondary">
            <ion-label color="secondary"> {{ currentProject.name }} </ion-label>
          </ion-chip>
        </div>
      </div>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card mode="ios" (click)="presentModal('organization')">
            <ion-card-header class="ion-text-center blue-header" mode="ios">
              <ion-icon name="swap" mode="ios"></ion-icon>
            </ion-card-header>

            <ion-card-content class="ion-text-center" mode="ios">
              Change organization
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card mode="ios" (click)="presentModal('project')">
            <ion-card-header
              class="ion-text-center secondary-header"
              mode="ios"
            >
              <ion-icon name="folder" mode="md"></ion-icon>
            </ion-card-header>

            <ion-card-content class="ion-text-center" mode="ios">
              Change Project
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card mode="ios" (click)="navigate('tokens')">
            <ion-card-header class="ion-text-center" mode="ios">
              <ion-icon name="cloud" mode="ios"></ion-icon>
            </ion-card-header>

            <ion-card-content class="ion-text-center" mode="ios">
              API Tokens
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card mode="ios" (click)="navigate('ssh-keys')">
            <ion-card-header class="ion-text-center" mode="ios">
              <ion-icon name="key" mode="ios"></ion-icon>
            </ion-card-header>

            <ion-card-content class="ion-text-center" mode="ios">
              SSH Keys
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
