ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
  position: absolute;

  ion-button {
    font-size: 1.2rem;
  }
}

.menu-button {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.75rem 0.75rem 0 0.75rem;
  color: white;
  z-index: 100;
}

.ios .menu-button {
  padding: 2rem 1rem 0 0.5rem;
}

.current-organization-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.background {
  height: 25vh;
  width: 100%;
  background: var(--ion-color-primary);
  background: radial-gradient(#8800c8, var(--ion-color-primary));
}

.profile {
  text-align: center;
  margin-top: -100px;

  ion-img {
    width: 145px;
    margin: 0 auto;
  }
}

.name {
  text-align: center;
  margin-bottom: 0.5rem;

  .fullname {
    font-weight: 600;
    font-size: 1.1rem;
    margin: 0 0 0.25rem 0;
  }

  .email {
    margin-bottom: 0.5rem;
  }
}

.two-auth-enabled {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;

  ion-chip {
    --background: var(--ion-color-secondary);
    height: 30px;
    line-height: 30px;
  }

  fa-icon {
    color: white;
  }

  ion-label {
    font-weight: 500;
  }
}

.two-auth-disabled {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;

  ion-chip {
    --background: var(--ion-color-danger);
    height: 30px;
    line-height: 30px;
  }

  fa-icon {
    color: white;
  }

  ion-label {
    font-weight: 500;
  }
}

ion-card {
  margin: 0;

  &:hover {
    -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.7);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.7);
  }

  &:focus {
    -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.7);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.7);
  }
}

ion-card-header {
  ion-icon {
    font-size: 2.2rem;
    color: white;
  }

  background-color: var(--ion-color-dark);
}

ion-card-content {
  background-color: white;
  font-size: 1.1rem;
  color: var(--ion-color-dark);
  min-height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.current-organization {
  text-align: center;

  &-text {
    padding-bottom: 0.5rem;
  }
}

.icon-separator {
  color: var(--ion-color-light-shade);
  padding: 0 0.5rem;
}

.blue-header {
  background: var(--ion-color-tertiary);
}

.secondary-header {
  background: var(--ion-color-secondary);
}
