:host {
  .menu-button {
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 3.5rem 2.5rem;
    color: white;
    z-index: 100;
  }

  .background {
    height: 45vh;
    width: 100%;
    background-image: radial-gradient(#4f0599, #120124);
  }

  .profile {
    text-align: center;
    margin-top: -145px;
  }

  .name {
    text-align: center;
    font-size: 1.8rem;
    margin: .5rem 0;
  }

  .date {
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 1rem;

    &-content {
      text-align: center;
      color: grey;
      border: 1px #e4e4e4 solid;
      border-radius: 1000px;
      display: inline-block;
      padding: .5rem 1rem;
      font-size: 1.2rem;
    }
  }

  .two-auth-enabled {
    margin-right: .25rem;
    .chip {
      background: color($colors, secondary);
      height: 30px;
      line-height: 30px;
    }
    fa-icon {
      color: white;
      font-size: 1.5rem;
    }
    ion-label {
      font-size: 1.4rem;
      font-weight: 500;
    }
  }

  .two-auth-disabled {
    margin-right: .25rem;
    .chip {
      background: color($colors, danger);
      height: 30px;
      line-height: 30px;
    }
    fa-icon {
      color: white;
      font-size: 1.5rem;
    }
    ion-label {
      font-size: 1.4rem;
      font-weight: 500;
    }
  }
}
