<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="ion-float-end" color="light" fill="clear" (click)="navigate('home')">
        <ion-icon name="md-close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="ion-float-end" color="light" fill="clear" (click)="logout()">
        <ion-icon name="ios-log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content force-overscroll="false">
  <div class="background"></div>
  <div class="profile">
    <ion-img src="assets/img/profile.svg"></ion-img>
  </div>

  <app-loader *ngIf="isLoading"></app-loader>

  <div *ngIf="!isLoading">
    <div class="name">
      <div class="two-auth-enabled" *ngIf="user.double_auth_enabled">
        <ion-chip>
          <ion-label color="light">
            <fa-icon [icon]="faShieldAlt"></fa-icon>
            2FA
          </ion-label>
        </ion-chip>
      </div>
      <div class="two-auth-disabled" *ngIf="!user.double_auth_enabled">
        <ion-chip>
          <ion-label color="light">
            <fa-icon [icon]="danger"></fa-icon>
            2FA
          </ion-label>
        </ion-chip>
      </div>
    </div>
    <div class="current-organization">
      <div class="current-organization-text">
        Organization: <b>{{ currentOrganization.name }}</b>
      </div>
      <ion-button color="tertiary" (click)="presentModal()">Change organization</ion-button>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card mode="ios" (click)="navigate('ssh-keys')">
            <ion-card-header class="ion-text-center" mode="ios">
              <ion-icon name="key" mode="ios"></ion-icon>
            </ion-card-header>

            <ion-card-content class="ion-text-center" mode="ios">
              SSH Keys
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card mode="ios" (click)="navigate('tokens')">
            <ion-card-header class="ion-text-center" mode="ios">
              <ion-icon name="cloud" mode="ios"></ion-icon>
            </ion-card-header>

            <ion-card-content class="ion-text-center" mode="ios">
              API Tokens
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
