<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/instances" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-loader *ngIf="isLoading"></app-loader>
  <app-error *ngIf="serverError"></app-error>

  <div *ngIf="!isLoading && !serverError">
    <ion-row>
      <ion-col>
        <div class="server-header">
          <ion-row>
            <div class="server-header-infos">
              <div class="is-round">
                <img alt="server image"
                     src="{{ server.image ? (server.image.name | serverIcon) : (server.name | serverIcon) }}"/>
              </div>
              <div class="server-name">
                {{ serverName }}
                <div class="server-state">
                  <div [style.background]="state" [class]="stateClass"></div>
                  <span class="state-text vertical-align-content">{{ server.state }}</span>
                </div>
              </div>
            </div>
          </ion-row>
          <ion-row>
            <div class="server-actions">
              <span class="server-toggle-off">OFF</span>
              <ion-toggle [(ngModel)]="power" (ngModelChange)="update($event)" [disabled]="isDisabled('power')"
                          color="secondary" mode="ios"></ion-toggle>
              <span class="server-toggle-on">ON</span>
            </div>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
    <ion-item-group>
      <ion-item-divider class="information-header" color="secondary">Basic Informations</ion-item-divider>
      <ion-item (click)="server.public_ip ? copyToClipBoard(server.public_ip.address) : null">
        <ion-label class="information-title">
          Public IP
        </ion-label>
        <div id="cpyBtn" data-clipboard-target="#copyTarget" class="information-content" slot="end">
          {{ server.public_ip ? server.public_ip.address : '-' }}
        </div>
      </ion-item>
      <ion-item (click)="server.private_ip ? copyToClipBoard(server.private_ip.address): ''">
        <ion-label class="information-title">
          Private IP
        </ion-label>
        <div class="information-content" slot="end">
          {{ server.private_ip ? server.private_ip : '-' }}
        </div>
      </ion-item>
      <ion-item>
        <ion-label class="information-title">
          Instance type
        </ion-label>
        <div class="information-content" slot="end">
          {{ server.commercial_type }}
        </div>
      </ion-item>
      <ion-item>
        <ion-label class="information-title">
          From image
        </ion-label>
        <div class="information-content" slot="end">
          {{ server.image ? server.image.name : '-' }}
        </div>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="information-title">
          Volumes
        </ion-label>
        <div class="information-content" slot="end">
          {{ server.volumes | totalVolumesSpace }}
        </div>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider class="information-header" color="secondary">Advanced Informations</ion-item-divider>
      <ion-item (click)="server.ipv6 ? copyToClipBoard(server.ipv6.address) : ''">
        <ion-label class="information-title">
          IPV6
        </ion-label>
        <div class="information-content" slot="end">
          {{ server.ipv6 ? server.ipv6.address : '-' }}
        </div>
      </ion-item>
      <ion-item>
        <ion-label class="information-title">
          Creation date
        </ion-label>
        <div class="information-content" slot="end">
          {{ server.creation_date | date:'dd/MM/yy, H:mm' }}
        </div>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="information-title">
          Modification date
        </ion-label>
        <div class="information-content" slot="end">
          {{ server.modification_date | date:'dd/MM/yy, H:mm' }}
        </div>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider class="information-header" color="dark">Server actions</ion-item-divider>
      <ion-item>
        <ion-label class="information-title">
          Reboot server
        </ion-label>
        <div class="information-content" slot="end">
          <ion-button slot="item-right" color="dark" size="large" type="submit" [disabled]="isDisabled('reboot')"
                      (click)="reboot()" mode="ios">Reboot
          </ion-button>
        </div>
      </ion-item>
      <ion-item>
        <ion-label class="information-title">
          Standby Mode
        </ion-label>
        <div class="information-content" slot="end">
          <ion-button slot="item-right" color="secondary" size="large" type="submit" [disabled]="isDisabled('archive')"
                      (click)="stopInPlace()" mode="ios">Standby Mode
          </ion-button>
        </div>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="information-title">
          Delete server
        </ion-label>
        <div class="information-content" slot="end">
          <ion-button slot="item-right" color="danger" size="large" type="submit" [disabled]="isDisabled('delete')"
                      (click)="delete()" mode="ios">Delete
          </ion-button>
        </div>
      </ion-item>
    </ion-item-group>
  </div>
</ion-content>
