ion-content {
  --background: white;
}

.bucket-empty {
  color: grey;
  text-align: center;
  width: 100%;
  ion-icon {
    font-size: 2.5rem;
  }
  p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: .9rem;
  }
}

ion-label {
  h3 {
    font-size: .8rem;
  }
  p {
    font-size: .75rem;
  }
}

fa-icon {
  width: 25px;
  text-align: center;
}

ion-toolbar {
  --background: linear-gradient(141deg, #8800C8 30%, var(--ion-color-primary) 70%);
}

ion-title {
  --color: white;
}

fa-icon ::ng-deep .fa-folder {
  font-size: 1.75rem;
  background: var(--ion-color-primary);
  background: linear-gradient(141deg, #8800C8 30%, var(--ion-color-primary) 70%);
  color: white;
}

fa-icon ::ng-deep .fa-file-alt {
  font-size: 1.75rem;
  background: var(--ion-color-primary);
  background: linear-gradient(141deg, #8800C8 30%, var(--ion-color-primary) 70%);
  color: white;
}
