ion-content {
  --background: white;
}

.bucket-empty {
  color: grey;
  text-align: center;
  width: 100%;
  ion-icon {
    font-size: 2.5rem;
  }
  p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9rem;
  }
}

ion-label {
  h3 {
    font-size: 0.8rem;
  }
  p {
    font-size: 0.75rem;
  }
}

fa-icon {
  width: 25px;
  text-align: center;
}

ion-title {
  --color: white;
}

fa-icon {
  font-size: 1.75rem;
  color: var(--ion-color-primary-tint);
}

.icon-snow {
  color: var(--ion-color-tertiary);
  margin-right: 0.5rem;
  font-size: 1rem;
}
