page-login {

  .vertical-align-content > *
  {
    background-color: #653C87;
    color: white;
    display: flex!important;
    align-content: center!important;
    align-items: center!important;
    margin-top: -8rem;
  }

  .background-transparent {
    background: transparent;
    color: white;
  }

  ion-img {
    background: transparent;
  }

}
