page-login {

  background: white;

  @-webkit-keyframes slide {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -400px 0;
    }
  }
  .vertical-align-content > * {
    background-color: white;
    display: flex !important;
    align-content: center !important;
    align-items: center !important;
    margin-top: -8rem;
    color: color($colors, primary);
  }

  .background-transparent {
    background: transparent;
    //color: white;
    padding: 0;
  }

  ion-img {
    background: transparent;
  }

  .content {
    background: gray url(/assets/imgs/background.png) repeat 0 0;
    width: 100%;
    margin: 0;
    text-align: center;
    height: 100%;
    padding-top: 120px;
    box-sizing: border-box;
    -webkit-animation: slide 20s linear infinite;
  }

  .login-header {
    margin-top: 10%;
  }

  .login {
    max-width: 90%;
    margin: 0 auto;
    padding: 0 5px 10px;
    border-radius: 3px;
    opacity: 1;
    position: relative;
    top: 10px;

    @media (max-height: 400px) {
      padding: 15px 5px 10px;
    }
  }

}
