<!--<ion-header mode="ios">
  <ion-toolbar>
    <ion-title>no-internet</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <ion-grid style="height: 100%">
    <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100%; flex-direction: column">
      <div class="content">
        <div class="content-header">
          <div class="content-header-title">
            Oups!
          </div>
          <div class="content-header-subtitle">
            400 - An error occurred
          </div>
        </div>
        <div class="content-middle">
          <ion-button color="secondary" size="large" mode="ios" (click)="navigateHome()">Back Home</ion-button>
        </div>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
