<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/buckets"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">{{ currentPath }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="isLoading">
  <app-loader></app-loader>
</ion-content>

<ion-content *ngIf="!isLoading">
  <ion-list>
    <ion-item *ngFor="let folder of foldersList" lines="none" detail="true" mode="ios"
              (click)="goToSubFolder(folder.Prefix[0])">
      <ion-icon slot="start" name="folder" mode="md" style="color: var(--ion-color-primary-tint)"></ion-icon>
      <ion-label>
        <h2>{{ folder.Prefix[0] }}</h2>
      </ion-label>
    </ion-item>
    <ion-item *ngFor="let object of objectsList" lines="none" detail="{{ object.Key[0].indexOf('/') > 0 }}"
              mode="ios">
      <ion-icon slot="start" name="document" mode="ios" style="color: var(--ion-color-primary-tint)"></ion-icon>
      <ion-label>
        <h2>{{ object.Key[0] }}</h2>
        <p>{{ object.LastModified[0] | date:'MMM d, y' }} {{ object.Size[0] !== '0' ? '· ' + object.Size[0] + 'B' : null }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <div class="bucket-empty"
       *ngIf="!isLoading && objectsList.length === 0 && foldersList.length === 0 && fullPath.length === 0">
    <p style="margin: 0">The bucket is empty</p>
    <small>You can add new file or create a new folder by using + button</small>
  </div>

  <div class="bucket-empty"
       *ngIf="!isLoading && objectsList.length === 0 && foldersList.length === 0 && fullPath.length > 0">
    <p style="margin: 0">This folder is empty</p>
    <small>You can add new file or create a new folder by using + button</small>
  </div>
</ion-content>
