<ion-header>
  <ion-toolbar mode="ios" style="--background: var(--ion-color-dark)">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/buckets" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">{{ currentPath }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="isLoading">
  <app-loader></app-loader>
</ion-content>

<ion-content *ngIf="!isLoading">
  <ion-list>
    <!-- FOLDERS -->
    <ion-item *ngFor="let folder of foldersList" detail="false" mode="ios">
      <ion-icon slot="start" name="folder" mode="md" style="color: var(--ion-color-primary-tint)"
                (click)="goToSubFolder(folder.Prefix[0])"></ion-icon>
      <ion-label (click)="goToSubFolder(folder.Prefix[0])">
        <h3 style="margin: 8px 0">{{ folder.Prefix[0] }}</h3>
      </ion-label>
      <ion-icon slot="end" name="more" mode="ios" style="color: darkgray; font-size: 1.1rem; padding: .75rem"
                (click)="openOptions($event, 'folder', folder)"></ion-icon>
    </ion-item>

    <!-- FILES -->
    <ion-item *ngFor="let object of objectsList" detail="false"
              mode="ios">
      <ion-icon slot="start" name="document" mode="ios" style="color: var(--ion-color-primary-tint)"></ion-icon>
      <ion-label>
        <h3>{{ object.Key[0] }}</h3>
        <p>{{ object.LastModified[0] | date:'MMM d, y' }} {{ object.Size[0] !== '0' ? '· ' + (object.Size[0] | fileSize: 0) : null }}</p>
      </ion-label>
      <ion-icon slot="end" name="more" mode="ios" style="color: darkgray; font-size: 1.1rem; padding: .75rem"
                (click)="openOptions($event, object.StorageClass[0] === 'GLACIER' ? 'glacier' : 'standard', object)"></ion-icon>
    </ion-item>
  </ion-list>

  <div class="bucket-empty"
       *ngIf="!isLoading && objectsList.length === 0 && foldersList.length === 0 && fullPath.length === 0">
    <p style="margin: 0">The bucket is empty</p>
    <small>You can add new file or create a new folder by using + button</small>
  </div>

  <div class="bucket-empty"
       *ngIf="!isLoading && objectsList.length === 0 && foldersList.length === 0 && fullPath.length > 0">
    <p style="margin: 0">This folder is empty</p>
    <small>You can add new file or create a new folder by using + button</small>
  </div>
</ion-content>
