h2 {
  display: inline-block;
  vertical-align: middle;
  color: var(--ion-color-primary);
}

.img-os {
  height: 100%;
  width: auto;
}

ion-note {
  img {
    width: 20px;
  }
}

ion-label {
  margin-left: 0.5rem;
}

ion-avatar {
  margin-right: 0.25rem;
}

.background-white {
  --background: white;
}

.background-grey {
  --background: var(--ion-color-light);
}
