<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">
      Buckets
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="isLoading">
  <app-loader></app-loader>
</ion-content>

<ion-content *ngIf="!isLoading">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" (click)="addBucket($event)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-grid>
    <ion-row class="align-items-center">
      <ion-col *ngFor="let bucketPar of bucketsPar" size="6" style="margin: 0 auto">
        <ion-card (click)="accessToBucket('fr-par', bucketPar.Name[0])">
          <fa-icon slot="start" [icon]="['fas', 'database']" [mask]="['fas', 'square-full']" [size]="'2x'"></fa-icon>
          <ion-card-header>
            <ion-card-title color="primary">{{bucketPar.Name[0]}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div>
              <img src="assets/imgs/france.svg" class="ion-card-content-img" alt="Paris">
              <span style="vertical-align: text-top">PAR</span>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col *ngFor="let bucketAms of bucketsAms" size="6">
        <ion-card (click)="accessToBucket('nl-ams', bucketAms.Name[0])">
          <fa-icon slot="start" [icon]="['fas', 'database']" [mask]="['fas', 'square-full']" [size]="'2x'"></fa-icon>
          <ion-card-header>
            <ion-card-title color="primary">{{bucketAms.Name[0]}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div>
              <img src="assets/imgs/netherlands.svg" class="ion-card-content-img" alt="Amsterdam">
              <span style="vertical-align: text-top">AMS</span>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="no-bucket"
       *ngIf="!isLoading && (!bucketsAms && !bucketsPar) || (bucketsPar.length === 0 && bucketsAms.length === 0) && !error">
    <img src="assets/imgs/bucket.svg" class="bucket-not-available" alt="bucket"/>
    <p style="margin: 0">No bucket available</p>
    <small>You can add a new one to start using object storage</small>
  </div>

  <div class="no-bucket"
       *ngIf="!isLoading && error">
    <p style="margin: 1rem 0 0 0">An error occurred</p>
    <small>Please refresh</small><br/>
    <ion-button color="secondary" (click)="refresh()" style="margin-top: 1rem;">Refresh</ion-button>
  </div>
</ion-content>
