ion-card {
  background: white;
  text-align: center;
  margin: 0;
  height: 100%;

  &-title {
    font-size: 1rem;
    text-align: center;
  }

  &-content {
    padding-top: 0;
    text-align: center;
  }

  &:hover {
    -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, .70);
    box-shadow: 0 4px 16px rgba(0, 0, 0, .70);
  }

  &:focus {
    -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, .70);
    box-shadow: 0 4px 16px rgba(0, 0, 0, .70);
  }
}

.bucket {
  width: 90px;
  padding: 1rem;
  margin: 0 auto;
}

.bucket-not-available {
  width: 90px;
  padding: 1rem 1rem .5rem 1rem;
  margin: 0 auto;
  filter: grayscale(100%);
}

.ion-card-content-img {
  width: 20px;
  vertical-align: middle;
  display: inline-block;
  margin-right: .25rem;
}

.no-bucket {
  color: grey;
  text-align: center;
  width: 100%;

  ion-icon {
    font-size: 2.5rem;
  }

  p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: .9rem;
  }
}

ion-card-title {
  background: linear-gradient(141deg, #8800C8 30%, var(--ion-color-primary) 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-gradient {
  background: linear-gradient(141deg, #8800C8 30%, var(--ion-color-primary) 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
