.footer {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  opacity: 0.6;
  img {
    width: 25px;
  }
  h2 {
    color: var(--ion-color-primary);
    margin: 0 0 0 0.5rem;
  }
}

small {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 0.5rem;
  opacity: 0.6;
  color: var(--ion-color-primary);
}

.item-right {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.label-right {
  margin-right: 0.5rem;
  color: var(--ion-color-medium);
}
