<ion-header mode="ios">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">
      Settings
    </ion-title>
    <ion-buttons slot="end" *ngIf="changeHasBeenDone">
      <ion-button (click)="save()">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar type="indeterminate" *ngIf="isLoading"></ion-progress-bar>

  <div class="content">
    <ion-list>
      <ion-list-header>
        Dashboard
      </ion-list-header>

      <ion-item lines="none" (click)="openPicker()">
        <div class="item-right" slot="end">
          <ion-label class="label-right">{{ instancesToDisplay }}</ion-label>
          <ion-icon name="arrow-down" mode="ios" color="medium" size="small"></ion-icon>
        </div>
        <ion-label>Instances to display</ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div class="footer">
    <img src="assets/imgs/logo-purple.svg" alt="logo">
    <h2>Scaleway Manager</h2>
  </div>
  <small *ngIf="version">v.{{ version }}</small>

</ion-content>
