.title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: .9rem;
}

.text {
  background: white;
  padding: 1rem 1.2rem 1rem 1.2rem;
}

p {
  font-size: .9rem;
}

.description {
  &-left {
    color: #868686;
    margin-top: .2rem;
    float: left;
    font-size: .9rem;
  }

  &-right {
    color: #868686;
    margin-top: .2rem;
    float: right;
    font-size: .9rem;
  }
}

.no-tokens {
  color: grey;
  text-align: center;
  width: 100%;
  ion-icon {
    font-size: 2.5rem;
  }
  p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: .9rem;
  }
}
