@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  75% {
    -webkit-transform: scale(.7);
    transform: scale(.7);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.login-header {

  ion-icon {
    font-size: 4rem;
    color: white;
    -webkit-animation: breathing 8s ease-out infinite normal;
    animation: breathing 8s ease-out infinite normal;
  }
}

.content {
  background: url('/assets/imgs/background.svg') repeat 0 0, var(--ion-color-primary);
  width: 100%;
  margin: 0;
  text-align: center;
  height: 100%;
  box-sizing: border-box;
}

.login {

  &-header {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1rem 0;
  }

  ion-icon {
      margin: 1rem 0 2rem 0;
  }
}

ion-input {
  --padding-start: 12px !important;
  background: var(--ion-color-light);
}

ion-card {
  background: white !important;
}
