@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  75% {
    -webkit-transform: scale(.7);
    transform: scale(.7);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.login-header {

  ion-icon {
    font-size: 4rem;
    color: white;
    -webkit-animation: breathing 8s ease-out infinite normal;
    animation: breathing 8s ease-out infinite normal;
  }
}

ion-content {
  --background: url('/assets/imgs/background.svg') repeat 0 0, var(--ion-color-primary);
}

.login {

  &-header {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2.5rem 0 2rem 0;

    ion-icon {
      color: white;
      background: transparent;
    }
  }
}

/* OVERLOAD OF EXISTING CSS */

ion-input {
  --padding-start: 12px !important;
  background: var(--ion-color-light);
  height: 42px;
}

ion-card {
  background: white !important;
}

ion-item {
  --highlight-height: 0;
  --inner-padding-end: 0;
}

form {
  ion-icon {
    margin: 0;
    padding: 9px;
    background: var(--ion-color-light);
  }
}
