<ion-header>
</ion-header>

<ion-content forceOverscroll="false">
  <div class="content ion-text-center">
    <ion-grid>
      <ion-row>
        <ion-col class="col-12">
          <div class="login">
            <div class="login-header">
              <ion-icon name="md-lock"></ion-icon>
            </div>
            <ion-card>
              <ion-card-header>
                <ion-card-subtitle>Another security step</ion-card-subtitle>
                <ion-card-title>Double Auth</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <form (ngSubmit)="login()">
                  <ion-list lines="none" class="ion-no-margin ion-padding">
                    <ion-item>
                      <!--<ion-label position="floating">Double Auth Code</ion-label>-->
                      <ion-input type="number" maxlength="6" clearInput placeholder="Code"
                                 name="number"></ion-input>
                    </ion-item>
                    <div class="ion-padding">
                      <ion-button color="secondary" type="submit" expand="full">
                        Log in
                      </ion-button>
                    </div>
                  </ion-list>
                </form>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
