@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  75% {
    -webkit-transform: scale(.7);
    transform: scale(.7);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.login-header {

  ion-icon {
    font-size: 4rem;
    color: var(--ion-color-primary);
    -webkit-animation: breathing 8s ease-out infinite normal;
    animation: breathing 8s ease-out infinite normal;
  }
}

ion-input {
  height: 60px;
  line-height: 100%;
  background-color: transparent;
  border: 0;
  outline: 0;
  color: black;
  font-size: 60px;
  word-spacing: 0px;
  overflow: hidden;
  text-align: center;
}
