<ion-header mode="ios"> </ion-header>

<ion-content forceOverscroll="false">
  <div class="content ion-text-center">
    <ion-grid>
      <ion-row>
        <ion-col class="col-12">
          <div class="login">
            <div class="login-header">
              <ion-icon name="md-lock"></ion-icon>
            </div>
            <ion-card mode="ios">
              <ion-card-header mode="ios">
                <ion-card-subtitle mode="ios"
                  >Another security step</ion-card-subtitle
                >
                <ion-card-title mode="ios">Double Auth</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <form (ngSubmit)="login()">
                  <ion-list lines="none" class="ion-no-margin ion-no-padding">
                    <ion-item class="ion-no-padding" mode="md">
                      <ion-input
                        type="text"
                        maxlength="6"
                        clearInput
                        placeholder="Token"
                        name="number"
                        [(ngModel)]="code"
                        inputmode="numeric"
                        pattern="[0-9]*"
                        autocomplete="one-time-code"
                        required
                      ></ion-input>
                      <ion-icon name="md-keypad" slot="start"></ion-icon>
                    </ion-item>
                    <div class="ion-padding-top ion-padding-bottom">
                      <ion-button
                        color="secondary"
                        type="submit"
                        expand="full"
                        mode="ios"
                        disabled="{{ !code || !(code && code.length === 6) }}"
                      >
                        Log In
                      </ion-button>
                    </div>
                  </ion-list>
                </form>
              </ion-card-content>
            </ion-card>
            <ion-button
              class="ion-float-left ion-margin-start"
              color="light"
              mode="ios"
              type="button"
              href="/login"
              routerDirection="back"
            >
              <ion-icon name="ios-arrow-back"></ion-icon> Back
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
