<div>
  <div class="header">
    <div class="header-left">
      <span class="header-left-organization">{{ currentOrganization.name }}</span>
      <fa-icon slot="start" [icon]="['fas', 'chevron-right']" class="icon-separator"></fa-icon>
      {{ currentProject.name }}
    </div>
    <div *ngIf="values && values.length > 0" class="header-right">Current
      <div class="header-right-amount">
        {{ (values[values.length - 1] || '0.00 ') + currency }}
      </div>
    </div>
    <div *ngIf="!values || values.length === 0" class="header-right">
      No data
    </div>
  </div>

  <canvas #billingCanvas></canvas>
</div>
