page-contact {
  .message {
    font-weight: bold;
    margin-bottom: .5rem;
  }

  .background-transparent {
    background: transparent;
    padding: 0;
  }

  ion-list {
    padding: 16px;
    padding-top: 0;
  }

  textarea {
    height: 120px;
  }
}
