page-home {
  .background {
    &-rect {
      left: -205px;
      top: 60vh;
      height: 405px;
      width: 400px;
      background: transparent;
      border-right: 70px solid color($colors, primary);
      border-top: 70px solid color($colors, primary);
      position: absolute;
      z-index: -1;
      transform: rotate(45deg) translateX(-50%) translateY(-50%);
    }
  }

  @keyframes rect-scale {
    0% {
      border-right: 0px solid color($colors, primary);
      border-top: 0px solid color($colors, primary);
    }
    100% {
      border-right: 65px solid color($colors, primary);
      border-top: 65px solid color($colors, primary);
    }
  }

  @keyframes card-appear {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }

  .rect-scale {
    animation: rect-scale .5s ease-in-out;
  }

  .card-appear {
    animation: card-appear .35s ease-in-out;
  }

  .card-cont {
    opacity: 0;
  }

  [col-12] {
    padding: 1px;
  }

  [col-6] {
    padding: 1px;
  }

  .card {
    margin: 2.4px;
    width: auto;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    border-radius: 0;
    img {
      height: 30px;
      width: 30px;
      margin: 0 auto;
    }
    &-stat {
      font-size: 3.2rem;
      font-weight: lighter;
      color: color($colors, dark);
    }
    &-stat2 {
      font-size: 1.8rem;
      font-weight: lighter;
      color: color($colors, dark);
    }
  }

  .small-card {
    display: block;
    color: dimgray;
    font-size: 1.4rem;
    margin-top: .5rem;
  }

  .state {
    width: 12px;
    height: 12px;
    background-color: gray;
    display: inline-block;
    vertical-align: middle;
    border-radius: 10px;
    margin-right: 5px;
    margin-bottom: 1px;
  }

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  .blinker {
    animation: blinker 1.60s linear infinite;
    width: 12px;
    height: 12px;
    background-color: gray;
    display: inline-block;
    vertical-align: middle;
    border-radius: 10px;
    margin-right: 5px;
  }

  .message {
    font-weight: bold;
    margin-top: .5rem;
  }

  .card-header-stats {
    margin-bottom: 2rem;
    color: white;
    background: color($colors, secondary);
    padding: 10px;
  }
}
