page-home {
  .background {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    &-rect1 {
      left: -300px;
      height: 60px;
      width: 600px;
      background: color($colors, primary);
      position: absolute;
      z-index: -1;
      transform: rotate(45deg);
    }
    &-rect2 {
      top: 422px;
      left: -260px;
      height: 60px;
      width: 600px;
      background: color($colors, primary);
      position: absolute;
      z-index: -1;
      transform: rotate(135deg);
    }
  }
}
