<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <loader *ngIf="isLoading"></loader>
  <ion-grid>
    <ion-row>
      <ion-col [class]="classAppear" col-12>
        <ion-card (click)="navigate('paris')">

          <ion-card-header>
            <img src="assets/imgs/france.svg">
          </ion-card-header>

          <ion-card-content class="card-stat" text-center>
            {{ nbrServParis + nbrServNetherlands }}
          </ion-card-content>

        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col [class]="classAppear" *ngIf="oldestServer && oldestServer.server" col-6>
        <ion-card (click)="navigateServ(oldestServer)">

          <ion-card-header class="card-header-stats" text-center>
            Oldest
          </ion-card-header>

          <ion-card-content class="card-stat2" text-center>
            <img src="{{ oldestServer.server.image.name | serverIcon }}" margin-bottom>
            <div [class]='setClass(oldestServer.server)' [style.background]="setState(oldestServer.server)"></div>
            {{ oldestServer.server.name }}
            <small class="small-card">
              {{ oldestServer.server.creation_date | date:'dd/MM/yy, H:mm' }}
            </small>
          </ion-card-content>

        </ion-card>
      </ion-col>
      <ion-col [class]="classAppear" *ngIf="powerfulServer && powerfulServer.server" col-6>
        <ion-card (click)="navigateServ(powerfulServer)">

          <ion-card-header class="card-header-stats" text-center>
            Powerfull
          </ion-card-header>

          <ion-card-content class="card-stat2" text-center>
            <img src="{{ powerfulServer.server.image.name | serverIcon }}" margin-bottom>
            <div [class]='setClass(powerfulServer.server)' [style.background]="setState(powerfulServer.server)"></div>
            {{ powerfulServer.server.name }}
            <small class="small-card">
              {{ powerfulServer.server.commercial_type }}
            </small>
          </ion-card-content>

        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col [class]="classAppear" *ngIf="lastInvoice" col-6>
        <ion-card (click)="navigate('billing')">

          <ion-card-header class="card-header-stats" text-center>
            Current Invoice
          </ion-card-header>

          <ion-card-content class="card-invoices" text-center>
            {{ lastInvoice.total_taxed }} {{ lastInvoice.currency }}
            <small class="card-invoices-small">
              <ion-icon name="{{ lastInvoice.state | billingStateIcon }}" style="vertical-align: middle;"></ion-icon>&nbsp;
              {{ lastInvoice.state }}
            </small>
          </ion-card-content>

        </ion-card>
      </ion-col>
      <ion-col [class]="classAppear" *ngIf="secondLastInvoice" col-6>
        <ion-card (click)="navigate('billing')">

          <ion-card-header class="card-header-stats" text-center>
            Last Month Invoice
          </ion-card-header>

          <ion-card-content class="card-invoices" text-center>
            {{ secondLastInvoice.total_taxed }} {{ secondLastInvoice.currency }}
            <small class="card-invoices-small">
              <ion-icon name="{{ secondLastInvoice.state | billingStateIcon }}" style="vertical-align: middle"></ion-icon>&nbsp;
              {{ secondLastInvoice.state }}
            </small>
          </ion-card-content>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab right bottom #fab>
    <button ion-fab color="primary"><ion-icon name="help-buoy"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab color="grey" (click)="navigate('bug', fab)"><ion-icon name="bug"></ion-icon></button>
      <button ion-fab color="grey" (click)="navigate('contact', fab)"><ion-icon name="mail"></ion-icon></button>
      <button ion-fab color="grey" (click)="openWebSite(fab)"><ion-icon name="globe"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
