page-about {
  .content {
    background: color($colors, dark);
    color: white;
  }

  .toolbar-background {
    background: transparent;
  }

  .logo-title {
    color: white;
  }

  .back-button {
    color: white;
  }

  .bar-button-default {
    color: white;
  }
}
