<ion-header>
</ion-header>

<ion-content>
  <div class="about-header">
    <ion-row>
      <ion-col>
        <ion-button class="ion-float-start" color="light" fill="clear" mode="ios">
          <ion-menu-button color="dark"></ion-menu-button>
          <h3>About</h3>

        </ion-button>
      </ion-col>
    </ion-row>
  </div>

  <div class="about-content">
    <h5>Who created this app ?</h5>
    <p>I am only one developer who basically wanted to create a Scaleway application for personal use and then I
      realized
      that it could be useful for many other people. I'm a student in France in an IT school. You can follow me on
      Twitter: @matth_prost</p>
    <br/>
    <h5>Is it an official application published by Scaleway ?</h5>
    <p><b><u>Absolutely not !</u></b> Before creating the app I asked Scaleway if I could publish it and they give me
      their
      agreement. So here we are !</p>
    <br/>
    <h5>Why did you created this application ?</h5>
    <p>As Scaleway is based on time = money, I wanted an easier way to start/stop my servers to save money and I think
      an
      application is the solution. You can start and stop it in just one click.</p>
    <br/>
    <h5>Why is this application free and without ads ?</h5>
    <p>I'm not a big fan of advertising, I think it destroy the design of an application.
      Maybe later I will add advertising.</p>
    <br/>
    <h5>I have other questions, where can I ask ?</h5>
    <p>At the home page you have an icon of a life buoy on the bottom where you can find my website, a way to contact me
      or to report a bug. You can also contact me on Twitter: @matth_prost. Don't hesitate to contact me if you have any
      questions!</p>
    <br/>
    <h5>What about our data/privacy ?</h5>
    <p>I do not sell or personally use your data at any moment. I just use Scaleway API to allow you to connect, get
      your
      servers, start them, ect. Also <b>this project is Open Source</b> and available on GitHub. If you're still worried
      about your account I recommend you to activate Two-Factor
      Authentication</p>
    <br/>
  </div>
</ion-content>
