page-show-server {

  .vertical-align-content > *
  {
    background-color: #653C87;
    color: white;
    display: flex!important;
    align-content: center!important;
    align-items: center!important;
    margin-top: -8rem;
  }

  .background-transparent {
    background: transparent;
    color: white;
  }

  ion-img {
    background: transparent;
    vertical-align: middle;
    padding: 10px;
  }

  .state {
    width: 11px;
    height: 11px;
    background-color: gray;
    display: inline-block;
    vertical-align: middle;
    border-radius: 10px;
    margin-right: 5px;
  }

  .has-refresher  .scroll-content {
    border-top: 0 !important;
  }

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  .blinker {
    animation: blinker 1.60s linear infinite;
    width: 11px;
    height: 11px;
    background-color: gray;
    display: inline-block;
    vertical-align: middle;
    border-radius: 10px;
    margin-right: 5px;
  }

  .server {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1rem;
    &-name {
      font-size: 2.4rem;
      text-align: left;
    }
    &-state {
      text-transform: uppercase;
      text-align: left;
      color: darkgrey;
    }
    &-header {
      text-align: center;
      margin-bottom: 1rem;
    }
    &-toggle {
      &-on {
        display: inline-block;
        margin-left: .75rem;
        font-size: 1.1rem;
        font-weight: 600;
        color: darkgrey;
      }
      &-off {
        display: inline-block;
        margin-right: .75rem;
        font-size: 1.1rem;
        font-weight: 600;
        color: darkgrey;
      }
    }
    &-actions {
      margin-top: 1rem;
      display: flex;
      position: relative;
      align-items: center;
      justify-content: left;
      text-align: left;
      button {
        margin-left: 3rem;
        height: 4rem;
      }
    }
  }

  .information {
    &-title {
      font-size: 1.2rem;
      font-weight: bold;
      color: #868686;
      text-transform: uppercase;
    }
    &-header {
      text-transform: uppercase;
      font-size: 1.5rem;
    }
    &-content {
      button {
        width: 100%;
      }
    }
  }

  .custom-popover .popover-content {
    width: 90%;
    top: 20%;
    left: 5%;
    border-radius: 0 0 4px 4px;
    margin: 0;
  }

  .custom-popover .popover-arrow {
    display: none;
  }

  .is-round {
    border: 5px solid white;
    border-radius: 50%;
    background: white;
  }


}
