page-show-server {

  .vertical-align-content > *
  {
    background-color: #653C87;
    color: white;
    display: flex!important;
    align-content: center!important;
    align-items: center!important;
    margin-top: -8rem;
  }

  .background-transparent {
    background: transparent;
    color: white;
  }

  ion-img {
    background: transparent;
    vertical-align: middle;
    padding: 10px;
  }

  .state {
    width: 12px;
    height: 12px;
    background-color: gray;
    display: inline-block;
    vertical-align: middle;
    border-radius: 10px;
    margin-right: 5px;
    &-text {
      font-size: 2rem;
      vertical-align: middle;
    }
  }

  .has-refresher  .scroll-content {
    border-top: 0 !important;
  }

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  .blinker {
    animation: blinker 1.60s linear infinite;
    width: 12px;
    height: 12px;
    background-color: gray;
    display: inline-block;
    vertical-align: middle;
    border-radius: 10px;
    margin-right: 5px;
  }

}

.information {
  &-title {
    font-size: 1.35rem;
    font-weight: bold;
    color: #868686;
    text-transform: uppercase;
  }
}

.custom-popover .popover-content {
  width: 90%;
  top: 70px;
  left: 5%;
}

.custom-popover .popover-arrow {
  display: none;
}

.is-round {
  border: 5px solid white;
  border-radius: 50%;
  background: white;
}

