ion-content {
  --background: url('/assets/imgs/background.svg') repeat 65px 0, var(--ion-color-primary);
}

.content {
  text-align: center;

  &-header {
    &-title {
      font-size: 1.6rem;
      font-weight: bold;
      color: white;
      margin-bottom: .5rem;
    }

    &-subtitle {
      color: white;
      font-size: 1.3rem;
      margin-bottom: 3rem;
    }
  }

  &-middle {

  }
}
