// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.item ion-thumbnail {
  min-width: auto;
  min-height: auto;
  img {
    height: 22px;
    width: auto;
  }
}

.item-ios ion-avatar[item-left], .item-ios ion-thumbnail[item-left], .item-ios ion-avatar[item-start], .item-ios ion-thumbnail[item-start] {
  margin: 0 16px 0 0;
}

ion-spinner.center {
  position: fixed;
  display: flex;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

ion-header {
  .toolbar-background {
    background-color: white;
  }
}

.logo {
  vertical-align: middle;
  width: 25px;
  height: auto;
  img {
    width: 25px;
    height: auto;
  }
  &-text {
    display: inline-block;
    vertical-align: middle;
  }
  &-title {
    vertical-align: middle;
    margin-left: .25rem;
    color: color($colors, primary);
  }
  &-subtitle {
    display: block;
    vertical-align: middle;
    font-size: 1rem;
    float: right;
    color: color($colors, primary);
  }
}

.refresher-active {
  background: white;
}

.menu {
  background: white;
  &-list {
    margin-top: 44px;
  }
}

.menu-content-open {
  filter: blur(.5px);
  transition: all .3s linear;
}
