// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.menu-app {
  .item {
    margin: 1rem 0;

    ion-thumbnail {
      min-width: auto;
      min-height: auto;

      fa-icon {
        width: 25px;
        height: 25px;
        font-size: 1.85rem;
        list-style: none;
        padding-left: 0;
        float: left;
        margin-top: 5px;
        color: color($colors, primary);
        text-align: center;
      }
    }
  }

  .toolbar {
    min-height: 55px;
  }

}

.item-ios ion-avatar[item-left], .item-ios ion-thumbnail[item-left], .item-ios ion-avatar[item-start], .item-ios ion-thumbnail[item-start] {
  margin: 0 16px 0 0;
}

ion-spinner.center {
  position: fixed;
  display: flex;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

ion-header {
  .toolbar-background {
    background-color: white;
  }
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}

.header {

  &-logo {
    vertical-align: middle;
    width: 24px;
    height: auto;
    margin-right: 1rem !important;

    img {
      width: 24px;
      height: auto;
    }

    &-text {
      display: inline-block;
      vertical-align: middle;
    }

    &-title {
      vertical-align: middle;
      margin-left: .25rem;
      color: color($colors, primary);
      text-transform: uppercase;
    }

    &-subtitle {
      display: block;
      vertical-align: middle;
      font-size: 1rem;
      float: right;
      color: color($colors, primary);
    }
    &-menu {
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
    }
  }
}

.refresher-active {
  background: #f9f9f9;
}

.has-refresher  .scroll-content {
  border-top: 0 !important;
}

.menu {
  background: white;

  &-text {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;
  }
}

.menu-inner .header {
  box-shadow: none !important;
}

.menu-content-open {
  filter: blur(.5px);
  transition: all .3s linear;
}

ion-title {
  padding-left: 0 !important;
  padding-right: 0 !important;
  border: 0 !important;
}

.toolbar-title {
  color: color($colors, primary) !important;
  img  {
    margin-right: .5rem;
  }
}

.toolbar-background {
  border: none !important;
}

.state {
  width: 9px;
  height: 9px;
  background-color: gray;
  display: inline-block;
  vertical-align: middle;
  border-radius: 10px;
  margin-right: 5px;
  margin-bottom: 1px;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.blinker {
  animation: blinker 1.60s linear infinite;
  width: 9px;
  height: 9px;
  background-color: gray;
  display: inline-block;
  vertical-align: middle;
  border-radius: 10px;
  margin-right: 5px;
}

.toastDanger {
  .toast-container {
    background: color($colors, danger);;

    .toast-message {
      color: white;
    }
  }
}

.donate-button-menu {
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  margin-top: 0 !important;
  color: white;
  fa-icon {
    color: white !important;
  }
  .inner-item {
    color: white;
  }
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}
