// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These
// styles are for the entire app and not just one component. Additionally, this
// file can hold Sass mixins, functions, and placeholder classes to be imported
// and used throughout the application.

.menu-app {
}

.state {
  width: 9px;
  height: 9px;
  background-color: gray;
  display: inline-block;
  vertical-align: middle;
  border-radius: 10px;
  margin-right: 5px;
  margin-bottom: 1px;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.blinker {
  animation: blinker 1.60s linear infinite;
  width: 9px;
  height: 9px;
  background-color: gray;
  display: inline-block;
  vertical-align: middle;
  border-radius: 10px;
  margin-right: 5px;
}

ion-spinner {
  width: 42px !important;
  height: 42px !important;
}
