<ion-menu [content]="content">
  <ion-content class="menu" no-bounce>
    <ion-list class="menu-list" no-lines>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-thumbnail item-start no-margin>
          <img *ngIf="p.picture" src="{{ p.picture ? p.picture : null }}">
        </ion-thumbnail>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>
  <ion-footer>
    <button menuClose ion-item (click)="github()">
      <ion-thumbnail item-start no-margin>
        <img src="assets/imgs/github.svg">
      </ion-thumbnail>
      Visit on GitHub
    </button>
  </ion-footer>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
