// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These
// styles are for the entire app and not just one component. Additionally, this
// file can hold Sass mixins, functions, and placeholder classes to be imported
// and used throughout the application.


.menu-labels {
  color: var(--ion-color-dark);
}

ion-content {
  --background: #eff3f6;
}

ion-menu-toggle {
  ion-item {
    margin: .6rem 0;
  }

  fa-icon {
    font-size: 1.25rem;
    width: 27px;
    text-align: center;
    color: var(--ion-color-dark);
  }
}


ion-toolbar {
  --border-width: 0 0 0px !important;
  --min-height: 3.5rem;
  ion-title {
    font-size: 1.3rem;
    font-weight: 400;
  }
}

.menu-app {
}

ion-header {
  .toolbar-background {
    background-color: white;
  }
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}

.state {
  width: 9px;
  height: 9px;
  background-color: gray;
  border-radius: 10px;
  margin-right: .5rem;
  margin-bottom: 1px;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.blinker {
  animation: blinker 1.60s linear infinite;
  width: 9px;
  height: 9px;
  background-color: gray;
  display: inline-block;
  vertical-align: middle;
  border-radius: 10px;
  margin-right: 5px;
}

.loader ion-spinner {
  width: 42px !important;
  height: 42px !important;
}

.not-found {
  position: relative;
  color: var(--ion-color-dark);
  text-transform: uppercase;
  font-weight: 600;
  opacity: .7;
  padding: 1rem;
  text-align: center;

  img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    width: 50px;
    display: block;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    opacity: .7;
  }
}
