<ion-menu class="menu-app" [content]="content">
  <ion-header no-border>
    <ion-toolbar>
      <ion-title>
        <div class="header-logo-menu">
          <img class="header-logo" src="assets/imgs/logo-purple.svg">
          <span>Scaleway Manager</span>
        </div>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="menu" no-bounce>
    <ion-list class="menu-list" no-lines>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-thumbnail item-start no-margin>
          <fa-icon *ngIf="p.picture" [icon]="p.picture ? p.picture : null"></fa-icon>
        </ion-thumbnail>
        <div class="menu-text">
          {{p.title}}
        </div>
      </button>
    </ion-list>
  </ion-content>
  <ion-footer>
    <ion-list class="menu-list" no-lines no-margin>
      <button menuClose ion-item (click)="openPage('donate')" class="donate-button-menu">
        <ion-thumbnail item-start no-margin>
          <fa-icon [icon]="faHeart"></fa-icon>
        </ion-thumbnail>
        <div class="menu-text">
          Donate
        </div>
      </button>
      <button menuClose ion-item *ngFor="let p of pagesBottom" (click)="openPage(p)">
        <ion-thumbnail item-start no-margin>
          <fa-icon *ngIf="p.picture" [icon]="p.picture ? p.picture : null"></fa-icon>
        </ion-thumbnail>
        <div class="menu-text">
          {{p.title}}
        </div>
      </button>
      <button menuClose ion-item (click)="logout()">
        <ion-thumbnail item-start no-margin>
          <fa-icon [icon]="faSignOutAlt"></fa-icon>
        </ion-thumbnail>
        <div class="menu-text">
          Logout
        </div>
      </button>
    </ion-list>
  </ion-footer>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
