:host {
  .information-title {
    ion-icon {
      vertical-align: middle;
      font-size: 1.9rem;
    }
    &-content {
      text-transform: uppercase;
      font-weight: 500;
    }
  }

  .information-content {
    text-align: right;
  }

  span {
    display: block;
  }

  .price-ht {
    font-size: 1.3rem;
    margin-top: .2rem;
    color: dimgray;
    font-weight: lighter;

  }

  .date {
    font-size: 1.3rem;
    font-weight: lighter;
    margin-top: .2rem;
  }

  .price {
    font-size: 1.5rem;
  }

  .title {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.4rem;
  }

  .last-update {
    float: right;
    font-size: 1.1rem;
    margin-top: .15rem;
  }
}
