<ion-header no-border>
  <ion-navbar>
    <ion-title>SSH KEYS</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <loader *ngIf="isLoading"></loader>

  <div class="text">
    <p>SSH Keys are a secure way to log into your servers through SSH.</p>
    <p>To generate your key, run:</p>
    <p><code (click)="copyToClipBoard('ssh-keygen -t rsa -b 4096 -C  user@email.com')">ssh-keygen -t rsa -b 4096 -C
      "user@email.com"</code></p>
  </div>

  <ion-list *ngIf="!isLoading">
    <ion-list-header class="title" color="secondary">SSH Keys</ion-list-header>
    <ion-item-sliding *ngFor="let sshKey of sshKeys" #item>
      <ion-item>
        <div class="information-title">
          <div class="information-title-content">
            {{ sshKey.fingerprint }}
          </div>
          <div class="description-left">
            {{ sshKey.description }}
          </div>
          <div class="description-right">
            {{ split(sshKey) }}
          </div>
        </div>
      </ion-item>
      <ion-item-options>
        <button ion-button color="danger" (click)="deleteSshKey(sshKey, item)">
          DELETE
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <p class="no-ssh-keys" margin-top text-center
     *ngIf="!isLoading && (sshKeys === undefined || sshKeys.length === 0)"
     text-center>
    <img src="assets/imgs/key.svg">
    No SSH Key found
  </p>
</ion-content>
