<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <div class="logo-text">
        <div class="logo-title">Billing</div>
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <loader *ngIf="isLoading"></loader>

  <ion-item-group *ngIf="!isLoading">
    <ion-item-divider class="title" color="secondary">
      Current Invoice
      <span class="last-update">Updated at {{ currentInvoice.last_update | date:'h:mm a, dd/MM/yy' }}</span>
    </ion-item-divider>
    <ion-item>
      <div class="information-title">
        <div class="information-title-content" [style.color]="changeStateColor(currentInvoice.state)">
          <ion-icon name="{{ currentInvoice.state | billingStateIcon }}"></ion-icon>&nbsp;
          {{ currentInvoice.state }}
        </div>
        <div class="date">
          {{ currentInvoice.start_date | date:'MMMM y' }}
        </div>
      </div>
      <div data-clipboard-target="#copyTarget" class="information-content" item-end text-right>
        <div class="price">
        {{ currentInvoice.total_taxed }} {{ currentInvoice.currency }}
        </div>
        <div class="price-ht">
          {{ currentInvoice.total_untaxed }} HT
        </div>
      </div>
    </ion-item>
  </ion-item-group>

  <ion-item-group *ngIf="!isLoading">
    <ion-item-divider class="title" color="secondary">Older Invoices</ion-item-divider>
    <ion-item *ngFor="let invoice of invoices">
      <div class="information-title">
        <div class="information-title-content" [style.color]="changeStateColor(invoice.state)">
          <ion-icon name="{{ invoice.state | billingStateIcon }}"></ion-icon>&nbsp;
          {{ invoice.state }}
        </div>
        <div class="date">
          {{ invoice.start_date | date:'MMMM y' }}
        </div>
      </div>
      <div data-clipboard-target="#copyTarget" class="information-content" item-end text-right>
        <div class="price">
          {{ invoice.total_taxed }} {{ invoice.currency }}
        </div>
        <div class="price-ht">
          {{ invoice.total_untaxed }} HT
        </div>
      </div>
    </ion-item>
  </ion-item-group>
</ion-content>
