.file-header {
  background: white;
  border-radius: 1000px;
  text-align: center;
  padding: 1.5rem;
  width: 100px;
  height: 100px;
  margin: 1rem auto;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;

  &-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--ion-color-dark);
    margin-bottom: 2rem;
  }
}

.information {
  &-title {
    font-weight: bold;
    color: #868686;
    text-transform: uppercase;
    font-size: .7rem;
  }

  &-header {
    text-transform: uppercase;
    padding: .25rem 1rem;
    font-size: .8rem;
  }

  &-content {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;

    ion-button {
      width: 8rem;
      margin: .5rem 0;
      font-size: .9rem;
      --border-radius: 6px;
    }

    img {
      width: 20px;
      margin-right: .5rem;
    }
  }
}

fa-icon {
  color: var(--ion-color-primary-tint);
}

.icon-snow {
  color: var(--ion-color-tertiary);
  margin-right: .5rem;
}
