<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="close" mode="md"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="primary">Object information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="file-header">
          <fa-icon
            slot="start"
            [icon]="['fas', 'file-alt']"
            size="3x"
          ></fa-icon>
        </div>
        <div class="file-header-title">{{ object.Key[0] }}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item-group>
    <ion-item>
      <ion-label class="information-title"> Region </ion-label>
      <div
        data-clipboard-target="#copyTarget"
        class="information-content"
        slot="end"
      >
        <img
          src="{{ region | zoneFlag }}"
          class="ion-card-content-img"
          alt="zone"
        />
        {{ region }}
      </div>
    </ion-item>
    <ion-item>
      <ion-label class="information-title"> Last modified </ion-label>
      <div
        data-clipboard-target="#copyTarget"
        class="information-content"
        slot="end"
      >
        {{ object.LastModified[0] | date:'MMM d, y' }}
      </div>
    </ion-item>
    <ion-item>
      <ion-label class="information-title"> Size </ion-label>
      <div
        data-clipboard-target="#copyTarget"
        class="information-content"
        slot="end"
      >
        {{ object.Size[0] !== '0' ? (object.Size[0] | fileSize: 0) : null }}
      </div>
    </ion-item>
    <ion-item lines="none">
      <ion-label class="information-title"> Storage Class </ion-label>
      <div
        data-clipboard-target="#copyTarget"
        class="information-content"
        slot="end"
      >
        <fa-icon
          *ngIf="object.StorageClass[0] === 'GLACIER'"
          [icon]="['fas', 'snowflake']"
          class="icon-snow"
        ></fa-icon>
        {{ object.StorageClass[0] }}
      </div>
    </ion-item>
  </ion-item-group>
</ion-content>
