page-server-actions {

  .toolbar {
    .toolbar-background {
      background: white;
    }
    .toolbar-title {
      color: black;
    }
  }

  .item {
    background-color: white;
  }

  .background-transparent {
    background: transparent;
  }

  .button {
    margin: 0;
  }

  .scroll-content {
    margin-bottom: 12px;
  }
}
