ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
  position: absolute;
}

ion-title {
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes rect-scale {
  0% {
    border-right: 0 solid var(--ion-color-primary);
    border-top: 0 solid var(--ion-color-primary);
  }
  100% {
    border-right: 65px solid var(--ion-color-primary);
    border-top: 65px solid var(--ion-color-primary);
  }
}

@keyframes card-appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.rect-scale {
  animation: rect-scale .5s ease-in-out;
}

.card-appear {
  animation: card-appear .35s ease-in-out;
}

.card-cont {
  opacity: 0;
}

[col-12] {
  padding: 1px;
}

[col-6] {
  padding: 1px;
}

.server-img {
  height: 50px;
  width: auto;
  margin: 0 auto;
}

.card {
  margin: 1.4px;
  width: auto;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  border-radius: 0;

  &-stat2 {
    font-size: 1rem;
    font-weight: lighter;
    color: var(--ion-color-dark);
    padding: .5rem;
  }

  &-invoices {
    font-size: 1rem;
    font-weight: lighter;
    color: var(--ion-color-dark);

    &-small {
      color: dimgray;
      font-size: 1.1rem;
      margin-top: .5rem;
      text-transform: capitalize;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }

  &-header-stats {
    color: white;
    background: var(--ion-color-primary);
    padding: 10px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: .85rem;
  }
}

.small-card {
  display: block;
  color: dimgray;
  font-size: 1rem;
  margin-top: .25rem;
}

.message {
  font-weight: bold;
  margin-top: .5rem;
}

.servers {

  &-left {
    font-size: 1.2rem;
    color: var(--ion-color-dark);
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    padding: .75rem 1rem;
    background: white;

    ion-badge {
      vertical-align: top;
    }
  }

  &-right {
    font-size: 1.25rem;
    text-align: center;
    height: 100%;
    background: var(--ion-color-secondary);
    color: white;

    fa-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }
}

ion-card {
  margin: .1rem;
}

/* Header */

ion-content {
  --background: #eff3f6;
}

.server-toggle {
  margin-top: .5rem;
  width: 100%;
  text-align: center;
}

.home {
  &-header {
    background: linear-gradient(141deg, #8800C8 30%, var(--ion-color-primary) 70%) no-repeat;
    padding: 1.75rem .75rem 0 .75rem;

    ion-button {
      --pading-top: 0;
      --padding-end: 0;
      --padding-start: 0;
      --padding-bottom: 0;

      .button-inner {
        display: inline-block;
      }
    }

    &-canvas {
      padding: .5rem 0 3rem 0;
      margin-top: 10vh;
    }

    h3 {
      color: white;
      display: inline-block;
      margin: 0;
      padding-left: .25rem;
      font-weight: 300;
      text-transform: inherit;
    }
  }

  .ios &-header {
    padding: 1.25rem .5rem 0 .5rem;
  }

  &-middle {
    ion-card {
      margin: -1.75rem 3rem 0 3rem;
    }
  }

  &-page {
    ion-card {
      --background: white;
      margin: 0 .25rem;
      min-height: 215px;
    }

    &-grid {
      margin-top: 1rem;
      padding: 0;

      ion-slides {
        padding-bottom: 1.5rem;
        padding-top: .5rem;
        width: 100%;
      }

      &-instances {
        width: 100%;
        padding: .5rem 1rem;

        &-title {
          &-left {
            float: left;
          }

          &-right {
            float: right;
          }
        }
      }
    }
  }
}

.title-instances {
  margin-left: .75rem;
  margin-bottom: .5rem;
  color: gray;
  font-size: .9rem;
  font-weight: 300;
  padding-right: .5rem;
  border-bottom: 1px solid lightgray;
  display: inline-block;
}
