<ion-header mode="ios">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Dashboard</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerDirection]="'forward'" [routerLink]="'/home/account'" class="ion-float-end" color="light"
                  fill="clear">
        <ion-icon name="ios-contact" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="home-header">
    <div class="home-header-canvas">
      <app-graph [billings]="this.billings" *ngIf="!isLoading && !billingError"
                 [currentOrganization]="currentOrganization"></app-graph>
      <app-error *ngIf="billingError" variant="light"></app-error>
    </div>
  </div>

  <ion-content *ngIf="isLoading">
    <app-loader></app-loader>
  </ion-content>

  <div class="home-middle">
    <ion-card mode="ios">
      <ion-card-content class="servers ion-text-center ion-no-padding" mode="ios" (click)="navigate('instances')">
        <ion-row>
          <ion-col class="ion-no-padding" size="9">
            <div class="servers-left">
              instances
            </div>
          </ion-col>
          <ion-col class="ion-no-padding" size="3">
            <div class="servers-right">
              <fa-icon [icon]="faRight"></fa-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>

  <app-error *ngIf="serverError">
  </app-error>

  <div class="home-page">
    <ion-grid class="home-page-grid">
      <div class="title-instances" *ngIf="!serverError">
        Last {{ instancesToDisplay }} Actives Instances
      </div>
      <ion-row *ngIf="serversInstances && serversInstances.length > 0 && !isLoading && !serverError">
        <ion-slides pager="false" [options]="slideOpts" [ngClass]="classAppear">
          <ion-slide *ngFor="let serversInstance of serversInstances">
            <ion-card mode="ios" style="width:100%">

              <ion-card-header class="card-header-stats ion-text-center" mode="ios"
                               (click)="navigate('instancesDetails', serversInstance.country, serversInstance.id)">
                {{ serversInstance.name | slice:0:12 }}
              </ion-card-header>

              <ion-card-content class="card-stat2 ion-text-center" mode="ios">
                <div (click)="navigate('instancesDetails', serversInstance.country, serversInstance.id)">
                  <ion-row>
                    <ion-col>
                      <img class="server-img ion-margin-bottom" alt="server_picture"
                           src="{{ serversInstance.image ? (serversInstance.image.name | serverIcon) : (serversInstance.name | serverIcon) }}"/>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <div [ngClass]='setClass(serversInstance)' [style.background]="setState(serversInstance)"
                           class="server-indicator-state"></div>
                      <div class="server-indicator-state-text">
                        {{ serversInstance.state === 'stopped in place' ? 'Standby' : serversInstance.state }}
                      </div>
                      <small class="small-card">
                        {{ serversInstance.public_ip ? serversInstance.public_ip.address : ' - ' }}
                      </small>
                      <div class="server-zone">
                        <img src="{{ serversInstance.country | zoneFlag }}" alt="country">
                        {{ serversInstance.country }}
                      </div>
                    </ion-col>
                  </ion-row>
                </div>
                <ion-row>
                  <div class="server-toggle">
                    <ion-toggle mode="ios" color="secondary" checked="{{ setToggle(serversInstance) }}"
                                disabled="{{ setDisabled(serversInstance) }}"
                                (ionChange)="startAndStopServers($event, serversInstance)"></ion-toggle>
                  </div>
                </ion-row>
              </ion-card-content>

            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-row>

      <div class="title-instances">
        Object Storage
      </div>
      <ion-row>
        <ion-slides pager="false" [options]="slideOpts" [ngClass]="classAppear">
          <ion-slide>
            <ion-card mode="ios" style="width:100%" (click)="navigate('os')" class="dark-card">
              <ion-card-header class="card-header-stats ion-text-center" mode="ios" style="margin-bottom: .25rem">
                Object Storage
              </ion-card-header>
              <ion-card-content class="card-stat2 ion-text-center" mode="ios">
                <fa-icon slot="start" [icon]="['fas', 'database']" [size]="'2x'"></fa-icon>
                <div class="badge">
                  <ion-badge color="danger" mode="ios">New</ion-badge>
                </div>
                <div class="subtitle">
                  Access to your buckets and files
                </div>
                <fa-icon slot="start" [icon]="['fas', 'arrow-right']" [size]="'1x'"></fa-icon>
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-row>
    </ion-grid>

    <!--  <ion-fab right bottom #fab>
        <button ion-fab color="primary">
          <ion-icon name="help-buoy"></ion-icon>
        </button>
        <ion-fab-list side="left">
          <button ion-fab color="grey">
            <ion-icon name="bug"></ion-icon>
          </button>
          <button ion-fab color="grey">
            <ion-icon name="mail"></ion-icon>
          </button>
          <button ion-fab color="grey">
            <ion-icon name="globe"></ion-icon>
          </button>
        </ion-fab-list>
      </ion-fab>-->
  </div>
  <div class="no-server" *ngIf="!isLoading && serversInstances.length === 0 && !serverError">
    <img alt="no_server" src="../../../../assets/img/server.svg">
    No server available
  </div>
</ion-content>
