<ion-header>
  <!--<ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>-->
</ion-header>

<ion-content>
  <div class="home-header">
    <ion-row>
      <ion-col>
        <ion-button class="ion-float-start" color="light" fill="clear" mode="ios">
          <ion-menu-button color="light"></ion-menu-button>
          <h3>Dashboard</h3>

        </ion-button>
        <ion-button (click)="navigate('account')" class="ion-float-end" color="light" fill="clear">
          <ion-icon name="ios-contact" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <div class="home-header-canvas">
      <app-graph></app-graph>
    </div>
  </div>

  <div class="home-middle">
    <ion-card [ngClass]="classAppear" mode="ios">
      <ion-card-content class="servers ion-text-center ion-no-padding" mode="ios">
        <ion-row>
          <ion-col class="ion-no-padding" size="9">
            <div class="servers-left">
              instances
            </div>
          </ion-col>
          <ion-col class="ion-no-padding" size="3">
            <div class="servers-right">
              <fa-icon [icon]="faRight"></fa-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="home-page">
    <!--  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>-->

    <!--  <loader *ngIf="isLoading"></loader>-->
    <ion-grid class="home-page-grid">
      <ion-row>
        <ion-slides pager="false" [options]="slideOpts">
            <ion-slide  *ngFor="let serversInstance of serversInstances" [ngClass]="classAppear">
              <ion-card mode="ios">

                <ion-card-header class="card-header-stats ion-text-center" mode="ios">
                  {{ serversInstance.name | slice:0:12 }}
                </ion-card-header>

                <ion-card-content class="card-stat2 ion-text-center" mode="ios">
                  <ion-img class="server-img ion-margin-bottom"
                           src="{{ serversInstance.image ? (serversInstance.image.name | serverIcon) : (serversInstance.name | serverIcon) }}"></ion-img>
                  <div [ngClass]='setClass(serversInstance)' [style.background]="setState(serversInstance)"></div>
                  {{ serversInstance.name }}
                  <small class="small-card">
                    {{ serversInstance.creation_date | date:'dd/MM/yy, H:mm' }}
                  </small>
                </ion-card-content>

              </ion-card>
            </ion-slide>
        </ion-slides>
      </ion-row>
    </ion-grid>

    <!--  <ion-fab right bottom #fab>
        <button ion-fab color="primary">
          <ion-icon name="help-buoy"></ion-icon>
        </button>
        <ion-fab-list side="left">
          <button ion-fab color="grey">
            <ion-icon name="bug"></ion-icon>
          </button>
          <button ion-fab color="grey">
            <ion-icon name="mail"></ion-icon>
          </button>
          <button ion-fab color="grey">
            <ion-icon name="globe"></ion-icon>
          </button>
        </ion-fab-list>
      </ion-fab>-->
  </div>
</ion-content>
