page-tokens {
  .title {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.4rem;
  }

  .description {
    &-left {
      font-size: 1.4rem;
      color: #868686;
      margin-top: .5rem;
      float:left;
    }
    &-right {
      font-size: 1.4rem;
      color: #868686;
      margin-top: .5rem;
      float: right;
    }
  }

  .text {
    background: white;
    padding: 2rem 1.5rem;
  }

  code {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #ededed;
    font-size: 1.2rem;
  }

  .current-token {
    color: red !important;
  }

  ion-badge {
    float: right;
  }
}
