<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="close" mode="md"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <!-- BUCKET NAME -->
    <ion-row>
      <ion-col>
        <div class="item1"></div>
        <ion-item lines="none">
          <ion-label style="margin: .5rem 0">Name your bucket</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-input placeholder="Bucket Name" [(ngModel)]="bucketName" [ngClass]="error ? 'danger' : ''"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <small [ngClass]="error ? 'danger-small' : ''">Your bucket name can only contain the
            following characters (min 3) : lowercase letters, digits, periods(.) and hyphens (-)</small>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- BUCKET REGION -->
    <ion-row>
      <ion-col>
        <div class="item2"></div>
        <ion-item lines="none">
          <ion-label style="margin: .5rem 0; white-space: unset;">
            Choose a Region
            <p>Geographical location in which your bucket will be created</p>
          </ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-radio-group value="{{ region }}">
            <ion-item [ngClass]="region === 'par' ? 'region region-selected': 'region'" lines="none"
                      style="margin-left: 0">
              <ion-label>
                <div>
                  <img src="assets/imgs/france.svg" class="region-img" alt="Paris"
                       style="vertical-align: middle">
                  PARIS
                </div>
              </ion-label>
              <ion-radio slot="start" value="par" (ionSelect)="regionSelected($event)"></ion-radio>
            </ion-item>

            <ion-item [ngClass]="region === 'ams' ? 'region region-selected': 'region'" lines="none"
                      style="margin-left: 0">
              <ion-label>
                <div>
                  <img src="assets/imgs/netherlands.svg" class="region-img" alt="Paris"
                       style="vertical-align: middle">
                  AMS
                </div>
              </ion-label>
              <ion-radio slot="start" value="ams" (ionSelect)="regionSelected($event)"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- BUCKET VISIBILITY -->
    <ion-row>
      <ion-col>
        <div class="item3"></div>
        <ion-item lines="none">
          <ion-label style="margin: .5rem 0">Set your Bucket Visibility</ion-label>
        </ion-item>

        <ion-radio-group value="{{ visibility }}">

          <ion-item>
            <ion-label>Public</ion-label>
            <ion-radio slot="start" value="public" (ionSelect)="visibilitySelected($event)"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Private</ion-label>
            <ion-radio slot="start" value="private" (ionSelect)="visibilitySelected($event)"></ion-radio>
          </ion-item>
        </ion-radio-group>
        <ion-item lines="none">
          <small>The bucket visibility specifies whether everyone can see the list of objects in the bucket or not. It
            does not affect objects visibility. A file uploaded to a public bucket is private by default. A private file
            in a public bucket cannot be accessed publicly.</small>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- SUMMARY -->
    <ion-row>
      <ion-col>
        <div class="item4"></div>
        <ion-item lines="none">
          <ion-label style="margin: .5rem 0">Summary</ion-label>
        </ion-item>

        <ion-list class="summary">
          <ion-item>
            <ion-label class="summary-label-start">
              Region
            </ion-label>

            <ion-label slot="end" class="summary-label-end" *ngIf="region === 'par'">
              <img alt="region" src="assets/imgs/france.svg">
              PARIS
            </ion-label>

            <ion-label slot="end" class="summary-label-end" *ngIf="region === 'ams'">
              <img alt="region" src="assets/imgs/netherlands.svg">
              AMS
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-label class="summary-label-start">
              Bucket visibility
            </ion-label>

            <ion-label slot="end" class="summary-label-end" style="text-transform: capitalize">
              <ion-icon name="md-lock" *ngIf="visibility === 'private'"
                        style="color: var(--ion-color-dark-tint)"></ion-icon>
              <ion-icon name="md-unlock" *ngIf="visibility === 'public'"
                        style="color: var(--ion-color-secondary)"></ion-icon>
              {{ visibility }}
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-label class="summary-label-start">
              Estimated cost
            </ion-label>
          </ion-item>
          <ion-item lines="none">
            <ul style="margin: 0">
              <li>75 first GB stored offered</li>
              <li>75 first outgoing GB offered afterwards</li>
              <li>Data stored: €0.01 / Go / Month</li>
              <li>Bandwith outside Scaleway: €0.01 / Go / Month</li>
            </ul>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <!-- CONFIRMATION BUTTON -->
    <ion-row>
      <ion-col>
        <ion-button color="secondary" expand="full" (click)="createBucket()">
          <span *ngIf="!isLoading">Create Bucket</span>
          <app-loader [color]="'light'" *ngIf="isLoading"></app-loader>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
