<ion-header>
</ion-header>


<ion-content>
  <loader *ngIf="isLoading"></loader>

  <div *ngIf="!isLoading">
    <div menuToggle class="menu-button">
      <ion-icon name="menu"></ion-icon>
    </div>
    <div class="background"></div>
    <div class="profile">
      <img src="assets/imgs/profile.svg" height="175">
    </div>
    <div class="name">
      <div class="two-auth-enabled" *ngIf="user.double_auth_enabled">
        <ion-chip>
          <ion-label color="light">
            <fa-icon [icon]="faShieldAlt"></fa-icon>
            2AF
          </ion-label>
        </ion-chip>
      </div>
      <div class="two-auth-disabled" *ngIf="!user.double_auth_enabled">
        <ion-chip>
          <ion-label color="light">
            <fa-icon [icon]="danger"></fa-icon>
            2AF
          </ion-label>
        </ion-chip>
      </div>
      {{ user.email }}
    </div>
    <div class="date">
      <div class="date-content">
        Member since {{ user.creation_date | date:'MMMM d, y'}}
      </div>
    </div>
    <ion-list>
      <ion-item (click)="navigate('ssh-keys')">
        <ion-label>SSH Keys</ion-label>
        <ion-note item-end>
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Tokens</ion-label>
        <ion-note item-end>
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-note>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
