<ion-header>

</ion-header>

<ion-content class="no-scroll">
  <div class="content" text-center>
    <ion-grid>
      <ion-row>
        <ion-col class="col-12">
          <div class="login">
            <div class="login-header">
              <img width="64" src="/assets/imgs/logo-white.svg">
            </div>
            <form (ngSubmit)="login()" #loginForm="ngForm" class="form">
              <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input type="email" name="email" [(ngModel)]="email"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" name="password" [(ngModel)]="password"></ion-input>
              </ion-item>
              <div padding>
                <ion-button color="secondary" type="submit" expand="full">Log In</ion-button>
              </div>
            </form>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
