.list-md .item-input:last-child {
  border: none;
}

.label-md[stacked], .label-md[floating] {
  margin-left: 1rem;
}

.vertical-align-content > * {
  background-color: white;
  display: flex !important;
  align-content: center !important;
  align-items: center !important;
  margin-top: -8rem;
  color: var(--ion-color-primary);
}

.background-transparent {
  background: transparent;
  //color: white;
  padding: 0;
}

form {
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07), 0 1px 3px rgba(0, 0, 0, 0.10);
  padding: 1rem;
  border-radius: 2px;
}

.label {
  margin-left: 1rem;
}

.label-md {
  margin-left: 1rem;
}

ion-img {
  background: transparent;
}

ion-list {
  h3 {
    margin-top: 0;
  }
}

.no-scroll .scroll-content{
  overflow: hidden;
}

.content {
  background: url('/assets/imgs/background.svg') repeat 0 0, var(--ion-color-primary);
  width: 100%;
  margin: 0;
  text-align: center;
  height: 100%;
  padding-top: 6vh;
  box-sizing: border-box;
}

.login-header {
  margin-top: 5%;
  margin-bottom: 2rem;
}

.login {
  max-width: 100%;
  margin: 0 auto;
  border-radius: 3px;
  opacity: 1;
  position: relative;
  top: 10px;

  @media (max-height: 400px) {
    padding: 15px 5px 10px;
  }

  &-header {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;

    img {
      margin-bottom: 2rem;
    }
  }
}

.item-inner {
  padding-right: 0px !important;
}

.text-input {
  padding: .5rem 0;
  border-bottom: 1px lightgrey solid;
}

.github {
  background-color: var(--ion-color-dark);
  display: inline-block;
  padding: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07), 0 1px 3px rgba(0, 0, 0, 0.10);
  margin-top: 1rem;
  border-radius: 3px;

  img {
    vertical-align: middle;
    display: inline-block;
  }

  &-text {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1rem;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
  }
}

ion-label {
  color: grey;
}
