<ion-header>
</ion-header>

<ion-content forceOverscroll="false">
  <div class="content ion-text-center">
    <ion-grid>
      <ion-row>
        <ion-col class="col-12">
          <div class="login">
            <div class="login-header">
              <ion-img class="login-header-logo" src="/assets/imgs/logo-white.svg"></ion-img>
            </div>
            <ion-card mode="ios">
              <ion-card-header mode="ios">
                <ion-card-subtitle mode="ios">Scaleway account is needed</ion-card-subtitle>
                <ion-card-title mode="ios">Login</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <form (ngSubmit)="login()" #loginForm="ngForm" class="form">
                  <ion-list lines="none" class="ion-no-margin ion-no-padding">
                    <ion-item class="ion-margin-top" mode="md">
                      <ion-input type="email" name="email" placeholder="Email" [(ngModel)]="email"></ion-input>
                      <ion-icon name="ios-mail" slot="start"></ion-icon>
                    </ion-item>
                    <ion-item class="ion-margin-top" mode="md">
                      <ion-input type="password" name="password" placeholder="Password"
                                 [(ngModel)]="password"></ion-input>
                      <ion-icon name="md-key" slot="start"></ion-icon>
                    </ion-item>
                    <div class="ion-padding">
                      <ion-button color="secondary" type="submit" expand="full" mode="ios">Log In</ion-button>
                    </div>
                  </ion-list>
                </form>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
