ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
  position: absolute;
}

.list-md .item-input:last-child {
  border: none;
}

ion-icon {
  color: gray;
}

.label-md[stacked],
.label-md[floating] {
  margin-left: 1rem;
}

.vertical-align-content > * {
  background-color: white;
  display: flex !important;
  align-content: center !important;
  align-items: center !important;
  margin-top: -8rem;
  color: var(--ion-color-primary);
}

.label {
  margin-left: 1rem;
}

.label-md {
  margin-left: 1rem;
}

ion-list {
  h3 {
    margin-top: 0;
  }
}

.no-scroll .scroll-content {
  overflow: hidden;
}

ion-content {
  --background: url("/assets/img/background.svg") repeat 0 0,
    linear-gradient(141deg, #8800c8 20%, var(--ion-color-primary) 80%) no-repeat;
}

.login {
  &-header {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1rem 0;

    &-logo {
      width: 64px;
      height: auto;
      margin: 2.5rem 0 2rem 0;
    }
  }
}

.text-input {
  padding: 0.5rem 0;
  border-bottom: 1px lightgrey solid;
}

/* OVERLOAD OF EXISTING CSS */

ion-card {
  background: white !important;
}

ion-input {
  background: var(--ion-color-light);
  height: 42px;
}

ion-item {
  --highlight-height: 0;
  --inner-padding-end: 0;
}

form ion-icon {
  margin: 0;
  padding: 9px;
  background: var(--ion-color-light);
}

ion-fab-button {
  ion-icon {
    font-size: 3rem;
  }
}
