<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="close(true)">
        <ion-icon name="close" mode="md"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="primary"> Change Project </ion-title>
    <ion-buttons slot="end" *ngIf="currentProjectId">
      <ion-button (click)="save()">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-loader *ngIf="isLoading"></app-loader>
  <div *ngIf="!isLoading">
    <ion-list>
      <ion-radio-group
        value="{{ currentProjectId }}"
        (ionChange)="change($event)"
      >
        <div *ngFor="let project of projects">
          <ion-item *ngIf="project.name !== null">
            <ion-label>{{ project.name }}</ion-label>
            <ion-radio slot="start" value="{{ project.id }}"></ion-radio>
          </ion-item>
        </div>
      </ion-radio-group>
    </ion-list>
  </div>

  <div
    class="not-found"
    *ngIf="!isLoading && projects && projects.length === 0"
  >
    <p>Oops!</p>
    <p>Seems like you have no permissions for projects on this organization.</p>
  </div>
</ion-content>
