ion-content {
  --padding-start: 0.5rem;
  --padding-top: 0.5rem;
  --padding-end: 0.5rem;
  --padding-bottom: 0.5rem;
}

ion-input {
  border: 1px solid lightgray;
  border-radius: 3px;
  --padding-top: 0.75rem !important;
  --padding-bottom: 0.75rem !important;
  --padding-start: 0.5rem !important;
  --padding-end: 0.5rem !important;
  --background: white;
}

.danger {
  border: 1px solid var(--ion-color-danger);
  &-small {
    color: var(--ion-color-danger);
  }
}

ion-list {
  background: transparent;
}

ion-item {
  --background: transparent;
  padding-left: 1.25rem;
}

ion-label {
  font-size: 1.1rem !important;
  margin-bottom: 0.5rem !important;
}

small {
  color: grey;
  margin-top: 0.75rem;
}

ion-row:not(:first-of-type) {
  margin-top: 1rem;
}

.region {
  background: white;
  padding: 0;
  border: 1px solid lightgray;
  border-radius: 3px;
  display: inline-block;
  margin: 0.25rem;
  width: 140px;
  color: grey;

  &-img {
    width: 30px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 0.75rem;
  }

  ion-label {
    text-align: center;
  }

  div {
    padding: 0.5rem 0.25rem;
  }

  &-selected {
    border: 1px solid var(--ion-color-primary);
    color: var(--ion-color-primary);
  }

  ion-radio {
    width: 0;
    height: 0;
    margin: 0;
    opacity: 0;
  }
}

.summary {
  margin: 0;

  img {
    width: 30px;
    vertical-align: middle;
    margin-right: 0.5rem;
  }

  &-label-start {
    color: var(--ion-color-dark-tint);
    font-size: 1rem !important;
  }

  &-label-end {
    font-size: 1rem;

    ion-icon {
      vertical-align: text-bottom;
      font-size: 1.3rem;
    }
  }
}

.item1 {
  &::before {
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    left: 0;
    top: 13px;
    height: 18px;
    width: 18px;
    padding: 4px;
    display: inline-block;
    background-color: rgb(74, 79, 98);
    color: rgb(255, 255, 255);
    content: "1";
    border-radius: 50%;
    margin-left: 0.25rem;
  }
}

.item2 {
  &::before {
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    left: 0;
    top: 13px;
    height: 18px;
    width: 18px;
    padding: 4px;
    display: inline-block;
    background-color: rgb(74, 79, 98);
    color: rgb(255, 255, 255);
    content: "2";
    border-radius: 50%;
    margin-left: 0.25rem;
  }
}

.item3 {
  &::before {
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    left: 0;
    top: 13px;
    height: 18px;
    width: 18px;
    padding: 4px;
    display: inline-block;
    background-color: rgb(74, 79, 98);
    color: rgb(255, 255, 255);
    content: "3";
    border-radius: 50%;
    margin-left: 0.25rem;
  }
}

.item4 {
  &::before {
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    left: 0;
    top: 13px;
    height: 18px;
    width: 18px;
    padding: 4px;
    display: inline-block;
    background-color: rgb(74, 79, 98);
    color: rgb(255, 255, 255);
    content: "4";
    border-radius: 50%;
    margin-left: 0.25rem;
  }
}
