<ion-header mode="ios">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary"> Buckets </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="isLoading">
  <app-loader></app-loader>
</ion-content>

<ion-content *ngIf="!isLoading">
  <!--<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" (click)="addBucket($event)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>-->

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row class="align-items-center">
      <ion-col *ngFor="let bucket of buckets" size="6">
        <ion-card (click)="accessToBucket(bucket.zone, bucket.Name[0])">
          <ion-card-header class="card-header">
            {{bucket.Name[0]}}
          </ion-card-header>
          <ion-card-content>
            <div class="bucket-content">
              <fa-icon
                slot="start"
                [icon]="['fas', 'database']"
                [size]="'2x'"
              ></fa-icon>
              <div class="bucket-zone">
                <img
                  src="{{ bucket.zone | zoneFlag }}"
                  class="ion-card-content-img"
                  alt="zone"
                />
                {{ bucket.zone }}
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div
    class="not-found"
    *ngIf="!isLoading && (!buckets) || (buckets.length === 0) && !error"
  >
    <fa-icon slot="start" [icon]="['fas', 'database']" [size]="'2x'"></fa-icon>
    <p>No bucket available</p>
  </div>

  <div class="not-found" *ngIf="!isLoading && error">
    <p style="margin: 1rem 0 0 0">An error occurred</p>
    <small>Please refresh</small><br />
    <ion-button
      color="secondary"
      (click)="refresh(true)"
      style="margin-top: 1rem"
      >Refresh</ion-button
    >
  </div>
</ion-content>
