<ion-header mode="ios">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">
      Buckets
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="isLoading">
  <app-loader></app-loader>
</ion-content>

<ion-content *ngIf="!isLoading">
  <!--<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" (click)="addBucket($event)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>-->

  <ion-grid>
    <ion-row class="align-items-center">
      <ion-col *ngFor="let bucket of buckets" size="6" style="margin: 0 auto">
        <ion-card (click)="accessToBucket(bucket.zone, bucket.Name[0])">
          <fa-icon slot="start" [icon]="['fas', 'database']" [mask]="['fas', 'square-full']" [size]="'2x'"></fa-icon>
          <ion-card-header>
            <ion-card-title color="primary">{{bucket.Name[0]}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div>
              <img src="{{ bucket.zone | zoneFlag }}" class="ion-card-content-img" alt="Paris">
              <span style="vertical-align: text-top; text-transform: uppercase">{{ bucket.zone }}</span>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="no-bucket"
       *ngIf="!isLoading && (!buckets) || (buckets.length === 0) && !error">
    <p style="margin: 0">No bucket available</p>
    <small>You can add a new one to start using object storage</small>
  </div>

  <div class="no-bucket"
       *ngIf="!isLoading && error">
    <p style="margin: 1rem 0 0 0">An error occurred</p>
    <small>Please refresh</small><br/>
    <ion-button color="secondary" (click)="refresh()" style="margin-top: 1rem;">Refresh</ion-button>
  </div>
</ion-content>
