ion-content {
  --background: linear-gradient(#ffffff 40%, #eff3f6 60%) no-repeat;
}

ion-card {
  background: white;
  text-align: center;
  margin: 0;
  height: 100%;

  &-title {
    font-size: 1rem;
    text-align: center;
  }

  &-content {
    padding-top: 0;
    text-align: center;
  }

  &:hover {
    -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.7);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.7);
  }

  &:focus {
    -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.7);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.7);
  }
}

.bucket {
  width: 90px;
  padding: 1rem;
  margin: 0 auto;
}

.bucket-not-available {
  width: 90px;
  padding: 1rem 1rem 0.5rem 1rem;
  margin: 0 auto;
  filter: grayscale(100%);
}

.ion-card-content-img {
  width: 20px;
  vertical-align: middle;
  display: inline-block;
  margin-right: 0.25rem;
}

.bucket-zone {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  margin-top: 0.75rem;
  img {
    margin-right: 0.5rem;
  }
}

.card-header {
  background: var(--ion-color-primary);
  padding: 10px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.85rem;
  color: white;
}

ion-card-content {
  padding-bottom: 1rem;
  padding-top: 1rem;
  fa-icon {
    color: var(--ion-color-medium-shade);
    background: var(--ion-color-lighter);
    display: inline-block;
    border-radius: 1000px;
    padding: 15px 17px;
  }
}
