page-server {
  .state {
    width: 12px;
    height: 12px;
    background-color: gray;
    display: inline-block;
    vertical-align: middle;
    border-radius: 10px;
    margin-right: 5px;
    margin-bottom: 1px;
  }

  h2 {
    display: inline-block;
    vertical-align: middle;
  }

  .img-os {
    width: 100%;
    height: auto;
    img {
      width: 100%;
      height: auto;
    }
  }

  .no-server {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: color($colors, darkgrey);
    text-transform: uppercase;
    font-weight: 600;
    img {
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
      width: 50px;
      display: block;
      margin: 0 auto;
      margin-bottom: 2rem;
    }
  }

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  .blinker {
    animation: blinker 1.60s linear infinite;
    width: 12px;
    height: 12px;
    background-color: gray;
    display: inline-block;
    vertical-align: middle;
    border-radius: 10px;
    margin-right: 5px;
  }

}
