<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><img class="logo" src="/assets/imgs/scaleway.svg">
      <div class="logo-text">
        <div class="logo-title">Manager</div>
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="allServers !== undefined && countServersByState(allServers, 'running') > 0">
    <ion-list-header>
      Online
    </ion-list-header>

    <ion-item-sliding *ngFor="let server of getServerByState(['running'])" #item>
      <ion-item (click)="showServer(server)">
        <ion-avatar item-start>
          <img class="img-os" src="{{ server.image.name | serverIcon }}">
        </ion-avatar>
        <div class="state" [style.background]="'#27c295'"></div>
        <h2>{{ server.name }}</h2>
        <p>{{ server.commercial_type }}</p>
        <ion-note item-end>
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-note>
      </ion-item>

      <ion-item-options *ngIf="server.state === 'stopped' || server.state === 'running'">
        <button ion-button color="danger" (click)="actionServer(server, 'poweroff', item)">
          <ion-icon name="power"></ion-icon>
          Stop
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list
    *ngIf="allServers !== undefined && (countServersByState(allServers, 'starting') > 0 || countServersByState(allServers, 'stopping') > 0)">
    <ion-list-header>
      Pending
    </ion-list-header>

    <ion-item-sliding *ngFor="let server of getServerByState(['stopping', 'starting'])" #item>
      <ion-item (click)="showServer(server)">
        <ion-avatar item-start>
          <img class="img-os" src="{{ server.image.name | serverIcon }}">
        </ion-avatar>
        <div class="state" [style.background]="'orange'"></div>
        <h2>{{ server.name }}</h2>
        <p>{{ server.commercial_type }}</p>
        <ion-note item-end>
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-note>
      </ion-item>

    </ion-item-sliding>
  </ion-list>

  <ion-list
    *ngIf="allServers !== undefined && countServersByState(allServers, 'stopped') > 0">
    <ion-list-header>
      Offline
    </ion-list-header>

    <ion-item-sliding *ngFor="let server of getServerByState(['stopped'])" #item>
      <ion-item *ngIf="server.state === 'stopped'" (click)="showServer(server)">
        <ion-avatar item-start>
          <img class="img-os" src="{{ server.image.name | serverIcon }}">
        </ion-avatar>
        <div class="state" [style.background]="'red'"></div>
        <h2>{{ server.name }}</h2>
        <p>{{ server.commercial_type }}</p>
        <ion-note item-end>
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-note>
      </ion-item>

      <ion-item-options *ngIf="server.state === 'stopped' || server.state === 'running'">
        <button ion-button color="secondary" (click)="actionServer(server, 'poweron', item)">
          <ion-icon name="power"></ion-icon>
          Start
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <p class="no-server" margin-top text-center
     *ngIf="!isLoading && (allServers === undefined || allServers.length === 0)"
     text-center>
    No server available
  </p>

</ion-content>
