<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ serverName }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item *ngFor="let server of allServers">
      <ion-thumbnail item-start>
        <img src="/assets/imgs/ubuntu.svg">
      </ion-thumbnail>
      <h2>{{ server.name }}</h2>
      <p>{{ server.state }}</p>
      <button ion-button clear item-end (click)="showServer(server)">View</button>
    </ion-item>
    <p *ngIf="(allServers === undefined || allServers.length === 0 ) && !isLoading" text-center>
      No available server
    </p>
  </ion-list>
</ion-content>
