page-server {
  .state {
    width: 12px;
    height: 12px;
    background-color: gray;
    display: inline-block;
    vertical-align: middle;
    border-radius: 10px;
    margin-right: 5px;
    margin-bottom: 1px;
  }

  h2 {
    display: inline-block;
    vertical-align: middle;
  }

  .img-os {
    width: 100%;
    height: auto;
    img {
      width: 100%;
      height: auto;
    }
  }

}
