page-server {
  h2 {
    display: inline-block;
    vertical-align: middle;
  }

  .img-os {
    width: 100%;
    height: auto;
    img {
      width: 100%;
      height: auto;
    }
  }

  .no-server {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: color($colors, darkgrey);
    text-transform: uppercase;
    font-weight: 600;
    img {
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
      width: 50px;
      display: block;
      margin: 0 auto;
      margin-bottom: 2rem;
    }
  }

  .label {
    font-size: 1.4rem;
    vert-align: middle;
    .country-flag {
      height: 15px;
      vertical-align: middle;
      margin-right: .75rem;
    }
  }

  .header-right {
    float: right;
    color: darkgrey;
    font-size: 1.2rem;
    margin-top: .1rem;
    vertical-align: middle;
  }

}
